<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devolver</title>
</head>
<body>
    <main>
        <div>
            <h2 class="subtitulo">Tem certeza que deseja deletar este livro?</h2>
        </div>
    </main>

    <div class="botao">
        <button (click)="deletar()">Deletar</button>
        <a class="cancelar" href="/livro">Cancelar</a>
    </div>
</body>
</html>
