<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap" rel="stylesheet">    
    <title>Bibliotecanos</title>  
</head>
<body>
    <nav id="navbar">
        <h1>BIBLIOTECANOS</h1>
        <div>
            <a class="item" href="#sobre">SOBRE NÓS</a>
            <a class="item" href="#sistema">O SISTEMA</a>
            <a class="item" href="#footer">CONTATO</a>
        </div>
        <button class="btn" routerLink="/signin" routerLinkActive="active">Login</button>
        <button class="btn" routerLink="/register" routerLinkActive="active">Cadastrar-se</button>
    </nav>

    <header id="header">
        <div class="ilustracao">
            <img src="../../../assets/landing_ilustracao_1.png" alt="">
        </div>
        <div class="apresentacao">
            <h1>Olá Fatecano! Já pensou em ter a faculdade dentro da sua casa?</h1>
            <p>Pois isso pode se tornar realidade! O Bibliotecanos oferece aluguéis de livros com um sistema totalmente integrado à FATEC Zona Leste</p>
        </div>
    </header>

    <section id="sobre">
        <div class="sobre-nos">
            <h1>SOBRE NÓS</h1>
            <p>Somos um grupo de pessoas que sentiu necessidade de um melhor sistema de gerenciamento de empréstimos para nossa faculdade. Por isso, decidimos criar o Bibliotecanos! Um sistema de fácil gerenciamento feito para a FATEC Zona Leste.</p>
        </div>
        <div class="ilustracao">
            <img src="../../../assets/landing_ilustracao_2.png" alt="">
        </div>
    </section>

    <section id="sistema">
        <div class="ilustracao">
            <img src="../../../assets/landing_ilustracao_3.png" alt="">
        </div>
        <div class="sistema">
            <h1>O SISTEMA</h1>
            <p>O Bibliotecanos é um sistema prático e de fácil manuseamento, visado para aumentar a produtividade e garantir a facilidade no gerenciamento da biblioteca da FATEC Zona Leste.</p>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-titulo">
            <h1>BIBLIOTECANOS</h1>
        </div>
        <div class="contato">
            <h3>CONTATO</h3>
            <p>https://github.com/anabalves/bibliotecanos</p>
            <p>bibliotecanos.fatec@gmail.com</p>
        </div>
        <div class="copyright">
            <p>Copyright © 2022 Fatec Zona Leste | All rights reserved</p>
        </div>
    </footer>
</body>
</html>
